<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        ViewData["Title"] = "購物車";
    }
</head>
<body>
    <div class="text-center">
        <img src="img/2.png" class="w-100" style="max-height:100vh"/>
        @*<h1 class="display-4" style="color:#000 ;font-weight: bold; margin-top:10%;">超便宜牛肉麵</h1>*@
    </div>
</body>
</html>

