<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        ViewData["Title"] = "Movie List";
    }
</head>
<body>
    <h2>My Movie List</h2>

    <p>Hello from our View Template!</p>
</body>
</html>
